<adplus version="2">
  <!-- 
    This script can be used only when spawning a new process as we are using
    .net debugger notification event to load the SOS extension.
  -->
  <keywords>
    <keyword name="LoadSOS">.loadby sos clr</keyword>
    <keyword name="StopOnSystemArgumentNullException">!soe  System.ArgumentNullException 1;.if(@$t1==0) {g} .else {.echo 'System.ArgumentNullException hit'}</keyword>    
  </keywords>

  <settings>
    <runmode>crash</runmode>
  </settings>
  
  <precommands>
    
  </precommands>
  
  <exceptions>
    <allexceptions>
      <actions1>LOG</actions1>
      <returnaction1>GN</returnaction1>
      <actions2>LOG</actions2>
      <returnaction2>GN</returnaction2>
    </allexceptions>
    <allevents>
      <actions1>LOG</actions1>
      <returnaction1>GN</returnaction1>
      <actions2>LOG</actions2>
      <returnaction2>GN</returnaction2>
    </allevents>
    <newexception code="04242420" name="clr-notification-exception">
      <actions1>LoadSOS</actions1>
    </newexception>
    <!-- CLR exception handling -->
    <exception code="clr">
      <actions1>StopOnSystemArgumentNullException</actions1>
      <returnaction1>void</returnaction1>
    </exception>
  </exceptions>
</adplus>