<adplus version="2">
  <settings>
    <runmode>crash</runmode>
  </settings>
  
  <exceptions>
    <exception code="clr">
      <actions1>Log;Time;MiniDump</actions1>
      <returnaction1>gn</returnaction1>
      <actions2>Log;Time;FullDump</actions2>
      <returnaction2>gn</returnaction2>
    </exception>
  </exceptions>
</adplus>