<adplus version="2">
  <keywords>
    <!-- 
    If you are attaching to the process just use: .loadby sos clr.
    
    If it's .net 2.0 you need to use: sxe -c ".loadby sos mscorwks" ld:mscorjit
    or only .loadby sos mscorwks if you are attaching to the process
     -->
    <keyword name="LoadSOS">sxe -c ".loadby sos clr;gn" ld:clrjit</keyword>
    <keyword name="PrintManagedException">!PrintException</keyword>
    <keyword name="ManagedStack">!CLRStack -a</keyword>
    <keyword name="FullDumpOnSystemArgumentNullException">!soe System.ArgumentNullException 1;.if(@$t1==1) {.dump /ma /u ${AdpDumpDir}\FULLDUMP_SystemArgumentNullException_${AdpProcName}_.dmp}</keyword>
    <keyword name="FullDumpOnSystemInvalidOperationException">!soe  System.InvalidOperationException 1;.if(@$t1==1) {.dump /ma /u ${AdpDumpDir}\FULLDUMP_SystemInvalidOperationException_${AdpProcName}_.dmp}</keyword>
  </keywords>
  <settings>
    <runmode>crash</runmode>
    <lastscriptcommand>qd</lastscriptcommand>
  </settings>
  <postcommands>
    <debugactions>LoadSOS</debugactions>
  </postcommands>
  <exceptions>
    <allexceptions>
      <actions1>LOG</actions1>
      <returnaction1>GN</returnaction1>
      <actions2>LOG</actions2>
      <returnaction2>GN</returnaction2>
    </allexceptions>
    <allevents>
      <actions1>LOG</actions1>
      <returnaction1>GN</returnaction1>
      <actions2>LOG</actions2>
      <returnaction2>GN</returnaction2>
    </allevents>
    <exception code="clr">
      <actions1>
        PrintManagedException;
        ManagedStack;
        FullDumpOnSystemArgumentNullException;
        FullDumpOnSystemInvalidOperationException</actions1>
      <returnaction1>GN</returnaction1>
      <actions2>Log;FullDump</actions2>
      <returnaction2>GN</returnaction2>
    </exception>
  </exceptions>
</adplus>