<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>
          &copy; {{ site.time | date: "%Y" }} {{ site.title | escape }}
        </p>
        <p>{{- site.description | escape -}}</p>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        {%- include social.html -%}
      </div>
    </div>
  </div>

</footer>
