---
# Only the main Sass file needs front matter (the dashes are enough)
---
$brand-color: #CA4E07;
$credits-color: #707070;

@import "minima";

body {
  background-color: #fffff8;
}

.highlighter-rouge .highlight {
  background: #e6e6e6;
}

pre, code {
  background: transparent;
  border: none
}

.post-title {
  @include relative-font-size(2.2);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.0);
  }
}

.feature-image {
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}
